
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <header class="my-4">
        {% include 'formSearch.twig' %}        
    </header>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ arrayProducts|length }} Resultados encontrados para: <strong>{{ valueSearch }}</strong></h1>
                <hr>
                 {% if arrayProducts|length == 0 %}
                        <a href="/" class="btn btn-primary">
                        <i class="fa fa-arrow-left"></i>
                        Clique aqui para voltar as compras
                        </a>                        
                {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row text-center">
                                {% for product in arrayProducts %}
                                    <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card">
                                        <img class="card-img-top" src="\images\{{product.image}}" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title"> {{product.name}} </h4>
                                            <p class="card-text">{{product.des}}</p>
                                        </div>
                                        <div class="card-footer">
                                            R$ {{product.price}}
                                        </div>
                                        <div class="card-footer">
                                            <a href="/{{product.id}}/details" class="btn btn-primary"> Detalhes </a>
                                            <a href="/cart-add/{{product.id}}/home" class="btn btn-primary"> Comprar</a>
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}




